<% provide(:title, "パスワード追加") %>
<h2 class="title">パスワード追加</h2>
<div class="form">
  <%= form_with(model: @password) do |f| %>
    <div class="form-item">
      <%= f.label :title,"タイトル" %>
      <%= f.text_field :title %>
    </div>
    <div class="form-item">
      <%= f.label :account,"アカウント名" %>
      <%= f.text_field :account %>
    </div>
    <div class="form-item">
      <%= f.label :pass,"パスワード" %>
      <%= f.text_field :pass, autocomplete: "off", id: 'password_field' %>
    </div>

    <!-- パスワードジェネレーター -->
    <div class="password-generator">
        <div class="checkbox">
          <%= label_tag :password_length, "文字数" %>
          <%= number_field_tag :password_length, 8, max: 100, id: 'password_length' %>
        </div>
        <div class="chekbox-wrapper">
          <div class="checkbox">
            <%= check_box_tag :include_capital, id: 'include_capital' %>
            <%= label_tag :include_capital, "大文字（A-Z）" %>
          </div>
          <div class="checkbox">
            <%= check_box_tag :include_numbers, id: 'include_numbers' %>
            <%= label_tag :include_numbers, "数字（0-9）" %>
          </div>
          <div class="checkbox">
            <%= check_box_tag :include_symbols, id: 'include_symbols' %>
            <%= label_tag :include_symbols, "記号（!@#$%）" %>
          </div>
        </div>
        <button type="button" id="generate_password_button" class="btn-small btn-gray">生成</button>
    </div>

    <div class="form-item">
      <%= f.label :category_id,"カテゴリー" %>
      <div class="select-box">
        <% if params[:from] %>
          <%= f.select :category_id, options_for_select(Category.where(user_id: current_user.id)
            .where.not(name: "未分類").map{|o| [o.name, o.id]}, params[:from]),
          { include_blank: "------" } %>
        <% else %>
          <%= f.select :category_id, Category.where(user_id: current_user.id)
          .where.not(name: "未分類").map{|o| [o.name, o.id]}, { include_blank: "------" } %>
        <% end %>
      </div>
    </div>
    <div class="form-item">
      <%= f.label :url, "URL" %>
      <%= f.text_field :url %>
    </div>
    <div class="form-item">
      <%= f.label :memo, "メモ" %>
      <%= f.text_area :memo %>
    </div>
    <div class="btn-wrapper">
      <%= f.submit "追加", class: "btn btn-blue" %>
    </div>
  <% end %>
</div>
