<% provide(:title, @password.title) %>
<h2 class="title"><%= @password.title %></h2>
<div class="show-item">
  <div class="show-text">
    <h3>アカウント名</h3>
    <p id="account"><%= @password.account %></p>
  </div>
  <% if !@password.account.empty? %>
    <button id="account-copy" class="btn-small btn-gray"><i class="fa-regular fa-copy" style="color: #ffffff;"></i> copy</button>
  <% end %>
</div>
<div class="show-item">
  <div class="show-text">
    <h3>パスワード</h3>
    <p id="pass"><%= @password.pass %></p>
  </div>
  <% if !@password.pass.empty? %>
    <button id="pass-copy" class="btn-small btn-gray"><i class="fa-regular fa-copy" style="color: #ffffff;"></i> copy</button>
  <% end %>
</div>
<div class="show-item">
  <div class="show-text">
    <h3>カテゴリー</h3>
    <% if @password.category %>
      <p><%= link_to @password.category.name, @password.category %></p>
    <% end %>
  </div>
</div>
<div class="show-item">
  <div class="show-text">
    <h3>URL</h3>
    <p><%= @password.url %></p>
  </div>
</div>
<div class="show-item">
  <div class="show-text">
    <h3>メモ</h3>
    <p><%= @password.memo %></p>
  </div>
</div>
<div class="btn-wrapper">
  <%= link_to "編集", edit_password_path(@password), method: :get, class: "btn btn-blue" %>
</div>
<div class="btn-wrapper">
  <%= link_to "削除", @password, class: "btn btn-red",
    data: { "turbo-method": :delete, turbo_confirm: "本当に削除しますか？" } %>
</div>
