<% provide(:title, "カテゴリー編集") %>
<h2 class="title">カテゴリー編集</h2>
<div class="form">
  <%= form_with(model: @category) do |f| %>
    <%= f.label :name,"カテゴリー名" %>
    <%= f.text_field :name%>

    <%= f.submit "更新", class: "btn btn-blue" %>
    <%= link_to "削除", @category, class: "btn btn-red",
        data: { "turbo-method": :delete, turbo_confirm: "本当に削除しますか？" } %>
  <% end %>
</div>
