<% provide(:title, 'すべてのカテゴリー') %>
<h2 class="title">すべてのカテゴリー（<%= @categories.count %>）</h2>

<div class="btn-wrapper">
  <%= link_to new_category_path, class: "btn btn-blue" do %>
    <i class="fa-solid fa-plus"></i> カテゴリー追加
  <% end %>
</div>
<ul>
  <% @categories.each do |category| %>
    <li class="category-list">
      <div class="category-name">
        <%= link_to "", category, class: "link_to_show" %>
        <p><%= category.name %>（<%= category.passwords.count %>）</p>
      </div>
      <div class="edit-and-delete-btns">
        <% unless category.name == "未分類" %>
          <%= link_to edit_category_path(category), class: "btn-small btn-blue" do %>
            <i class="fa-solid fa-pen" style="color:#ffffff;"></i>
          <% end %>
          <%= link_to category, class: "btn-small btn-red",
            data: { "turbo-method": :delete, turbo_confirm: "カテゴリーを削除してもよいですか？パスワードは削除されません。" } do %>
            <i class="fa-solid fa-trash-can" style="color:#ffffff;"></i>
          <% end %>
        <% end %>
      </div>
    </li>
  <% end %>
</ul>

