<% provide(:title, 'すべてのカテゴリー') %>
<h2 class="title">すべてのカテゴリー（<%= @categories.count %>）</h2>

<div class="btn-wrapper">
  <%= link_to "＋カテゴリー追加", new_category_path, class: "btn btn-blue" %>
</div>
<ul class="">
  <% @categories.each do |category| %>
    <li class="category-list">
    <%= link_to "", category, class: "link_to_show" %>
      <p><%= category.name %>（<%= category.passwords.count %>）</p>
      <% unless category.name == "未分類" %>
        <%= link_to "編集", edit_category_path(category), class: "btn-small btn-blue" %>
        <%= link_to "削除", category, class: "btn-small btn-red",
          data: { "turbo-method": :delete, turbo_confirm: "本当に削除しますか？" } %>
      <% end %>
    </li>
  <% end %>
</ul>

