<% provide(:title, "パスワード詳細") %>
<h2 class="title"><%= @category.name %></h2>

<div class="btn-wrapper">
  <%= link_to "カテゴリー名変更", edit_password_path(@category), method: :get, class: "btn btn-blue" %>
</div>

<div class="side-of-the-table">
  <h3>タイトル</h3>
  <h3>アカウント名</h3>
</div>
<ul class="passwords">
  <% @passwords.each do |password| %>
    <li class="password-list">
      <%= link_to "", password, class: "link_to_show" %>
      <h3><%= password.title %></h3>
      <p><%= password.account %></p>
      <%= link_to "編集", edit_password_path(password), class: "btn-small btn-small-blue" %>
      <%= link_to "削除", password, class: "btn-small btn-small-red",
        data: { "turbo-method": :delete, turbo_confirm: "本当に削除しますか？" } %>
    </li>
  <% end %>
</ul>
<div class="pagenate">
  <%= paginate @passwords %>
</div>
