<% provide(:title, "パスワード詳細") %>
<h2 class="title"><%= @category.name %></h2>



<div class="index-tools">
  <%= form_with(url: category_path(@category), local: true, method: :get, class:"search_form") do |f| %>
    <%= f.search_field(:word, value: @word, placeholder: "タイトルで検索") %>
    <%= f.submit "検索", name: nil, class: "btn-small btn-small-blue" %>
  <% end %>
  <%= form_with(url: category_url(@category), local: true, method: :get) do |f| %>
    <%= f.hidden_field :word, value: params[:word] %>
    <div class="select-box sort-select">
      <%= f.select :sort_key, options_for_select({作成日が新しい順: "created_latest", 作成日が古い順: "created_old",\
        更新日が新しい順: "updated_latest", 更新日が古い順: "updated_old"}, params[:sort_key]),\
        {}, {onchange: "this.form.submit()"} %>
    </div>
  <% end %>
  <%= link_to "カテゴリー名変更", edit_category_path(@category), method: :get, class: "btn btn-blue" %>
</div>

<div class="side-of-the-table">
  <h3>タイトル</h3>
  <h3>アカウント名</h3>
</div>
<ul class="passwords">
  <% @passwords.each do |password| %>
    <li class="password-list">
      <%= link_to "", password, class: "link_to_show" %>
      <h3><%= password.title %></h3>
      <p><%= password.account %></p>
      <%= link_to "編集", edit_password_path(password), class: "btn-small btn-small-blue" %>
      <%= link_to "削除", password, class: "btn-small btn-small-red",
        data: { "turbo-method": :delete, turbo_confirm: "本当に削除しますか？" } %>
    </li>
  <% end %>
</ul>
<div class="pagenate">
  <%= paginate @passwords %>
</div>
