<header class="header">
  <div class="container header-container">
    <h1><%= link_to image_tag("passward_logo.png"), logged_in? ? passwords_path : login_path %></h1>
    <nav>
      <ul class="nav">
      <% if logged_in? %>
        <li class="nav-item"><%= link_to "パスワード", passwords_path %></li>
        <li class="nav-item"><%= link_to "カテゴリー", categories_path %></li>
        <li class="nav-item" ><%= link_to "アカウント ▼", '#' %>
          <ul class="dropdown-lists">
          <li class="dropdown-list"><%= link_to "アカウント情報",
            current_user %></li>
            <li class="dropdown-list"><%= link_to "アカウント設定",
            edit_user_path(current_user) %></li>
            <li class="dropdown-list"><%= link_to "ログアウト",
            logout_path, data: { "turbo-method": :delete } %></li>
          </ul>
        </li>
      <% else %>
        <li class="nav-item"><%= link_to "ログイン", login_path %></li>
      <% end %>
      </ul>
    </nav>
  </div>
</header>
